/*
  CSS RESET START
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: Figtree, sans-serif;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  CSS RESET END
*/

:root {
    --yellow: hsl(47 88% 63%);
    
    --gray-950: hsl(0 0% 7%);
    --gray-500: hsl(0 0% 42%);

    --white: hsl(0 0% 100%);
}

body, html {
    height: 100%;
}

body {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-post-preview {
    background-color: var(--white);
    max-width: 384px;
    padding: 24px;
    border-radius: 20px;
    border: 1px solid var(--gray-950);
    box-shadow: 8px 8px 0 0 black;

    header img {
        border-radius: 10px;
    }

    .preview-content {

        .label {
            width: fit-content;
            font-weight: bold;
            border-radius: 4px;
            padding: 4px 12px;
            background-color: var(--yellow);

        }

        time {
            display: block;
            font-weight: 500;
        }

        h2 {
            font-weight: 800;
        }

        p {
            color: var(--gray-500);
        }
    }

    .preview-content > * + *{
        margin-top: 12px;
    }

    footer > address {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
            width: 30px;
        }

        a {
            text-decoration: none;
            font-style: normal;
            color: var(--gray-950);
            font-weight: 800;
        }
    }
}

.blog-post-preview > * + *{
    margin-top: 24px;
}